{% extends "base.html" %}

{% block title %}{{section.name}}{% endblock %}

{% block content %}
        <h2>{{section.label}}</h2>
        <ul>
            {% for record in sectionData %}
            <li>
                <a name="{{record.id}}"></a>
                <h3 div class="title">{{record.label}}</h3>

                {% if record.image  %}
                <div class="image">
                    <img src="{{imagesDir}}/{{record.image}}"/>
                </div>
                {% endif %}

                <div class="description">
                    <p>
                        {{ record.description }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
