{% extends "section.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{baseUrl}}assets/styles/defaultSection.css" />
{% endblock %}

{% block content %}
{{super()}}
        <ul>
            {% for row in sectionData['rows'] %}
            <li>
                <a name="{{row.id}}"></a>
                <h3 div class="title">{{row.label}}</h3>

                {% if row.image  %}
                <div class="image">
                    <img src="{{assetsDir}}/{{row.image}}"/>
                </div>
                {% endif %}

                <div class="description">
                    <p>
                        {{ row.description }}
                    </p>
                </div>
                <div class="clearfix">
                </div>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
