{% extends "base.html" %}

{% block title %}Metadata{% endblock %}

{% block content %}
<div class="navigation">
    <ul class="menu">
        {%- for item in menu recursive %}
        <li>
            <a target="contentFrame" href="{{ item.href|e }}">{{item.label|e}}</a>
            {%- if item.children -%}
            <ul class="submenu">{{ loop(item.children) }}</ul>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
</div>

<div class="content">
    <iframe name="contentFrame" class="contentFrame">
    </iframe>
</div>
{% endblock %}


