{% extends "section.html" %}

{% block title %}{{section.name}}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{baseUrl}}assets/styles/vaSection.css" />
<link rel="stylesheet" href="{{baseUrl}}assets/js/jquery.dataTables/media/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{{baseUrl}}assets/js/jquery.dataTables/Scroller-1.1.0/media/css/dataTables.scroller.css" />
<link rel="stylesheet" href="{{baseUrl}}assets/js/jquery.dataTables/ColumnFilterWidgets/media/css/ColumnFilterWidgets.css" />
{% endblock %}

{% block content %}
<h2>{{section.label}}</h2>

<p>
The table below contains vulnerability assessment scores for combinations of gears, substrates, features, and habitat energies.
</p>

<p>
The '<em>S</em>' value represents <em>Susceptibility</em>.  A high value indicates that more area will be swept, resulting in greater habitat loss and reduced fishing productivity.
</p>

<p>
The '<em>R</em>' value represents <em>Recovery</em>.  A high value indicates that more area will be recovered over time, resulting in greater habitat restoration and increased fishing productivity.
</p>

<p>
For information on how these assessments were generated, see the SASI document: <a href="http://www.nefmc.org/habitat/sasi_info/110121_SASI_Document.pdf" target="_blank">SASI Document</a> .
</p>

<div class="va-table-container">
    <table id="va-table">
        <thead>
            <tr>
                {% for fieldname in sectionData['fieldnames'] %}
                <th>{{fieldname}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in sectionData['rows'] %}
            <tr>
                {% for fieldname in sectionData['fieldnames'] %}
                <td>{{row[fieldname]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{baseUrl}}assets/js/jquery.dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}assets/js/jquery.dataTables/Scroller-1.1.0/media/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}assets/js/jquery.dataTables/ColumnFilterWidgets/media/js/ColumnFilterWidgets.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    $table = $('#va-table');
    $table.dataTable({
        sScrollY: $('.va-table-container').height(),
        sDom: 'WrtiS',
        bDeferRender: true,
        oColumnFilterWidgets: {
            bGroupTerms: false
        }
    });
});       

</script>
{% endblock %}

