body > .inner{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
}

#content{
    height: 100%;
    width: 100%;
}

.navigation-container{
    height: 100%;
    float: left;
}

.contentFrame-container{
    height: 100%;
    overflow: hidden;
}

#navigation .menu-item > .menu{
    display: none;
}

#navigation .menu-item.active > .menu{
    display: block;
}

#navigation .menu-item.active > a{
    text-decoration: none;
    font-weight: bold;
}

#contentFrame {
    height: 100%;
    width: 100%;
    border: none;
}


