html, body {
    height: 100%;
    min-width: 960px;
}

body > .inner{
    height: 100%;
    margin: 0 0 -325px;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 0 30px 30px;
    box-shadow: 0 0 20px #CCCCCC;
}

.contentFrame-container{
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 50px;
    left: 260px;
}

#navigation .menu-item > .menu{
    display: none;
}

#navigation .menu-item.active > .menu{
    display: block;
}

#navigation .menu-item.active > a{
    text-decoration: none;
    font-weight: bold;
}

#contentFrame {
    height: 100%;
    width: 100%;
    border: none;
}

